*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FFFFFF;
}

.container{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* navbar start */
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}

#navList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aBtn {
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: 600;
    margin-left: 30px;
}

#searchBox {
    display: flex;
    width: 290px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

#search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 100px;
    padding-top: 10px;
    border-right: 2px solid #ADADAD;
}
/* navbar end */

/* Banner starts */
#banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#deliveryBtn {
    display: flex;
    width: 220px;
    padding: 10px;
    border-radius: 35px;
    align-items: center;
    justify-content: space-between;
    background-color: #F5DDC4;
    margin-bottom: 20px;
    margin-top: -10px;
}

#bannerText {
    font-size: 75px;
    font-weight: 700;
}

#bnr-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bnr-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    max-width: 200px;
    border-radius: 20px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}
/* Banner ends */

/* Contact starts */

#contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 50px 120px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1); 
    margin-bottom: 100px;
    border-radius: 20px;
    max-width: 1240px;
}

.contact-item {
    border-right: 2px solid gray;
    padding-right: 60px;
    width: 30%;
}
/* Contact Ends */

.choose-card {
    border: 2px solid rgb(226, 225, 225);
    border-radius: 20px;
    max-width: 400px;
    padding: 40px;      
}

#card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.choose-card:hover {
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.05); 
}

#client-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

#client-card {
    max-width: 48%;
}

#clientBurgur {
    max-width: 48%;
}






/* responsive for small device */
@media only screen and (min-width: 200px) and (max-width: 576px) {

    .container{
        max-width: 90%;
    }


    /* navbar */
    #nav {
        flex-direction: column;
        gap: 10px;
    }

    .aBtn {
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
    }

    /* banner */

    #banner-container {
        flex-direction: column;
    }

    #bannerText {
        font-size: 65px;
    }

    /* contact */
    #contact-container {
        flex-direction: column;
        padding: 50px 20px;
        gap: 40px;
        max-width: 85%;
    }

    .contact-item {
        border-bottom: 2px solid gray;
        padding-bottom: 60px;
        border-right: 0px solid white;
        padding-right: 0px;
        width: 80%;
    }

    #card-container {
        flex-direction: column;
        gap: 30px;
    }

    #client-container {
        flex-direction: column-reverse;
        gap: 40px;
    }
    
    #client-card {
        max-width: 80%;
    }
    
    #clientBurgur {
        max-width: 80%;
    }


}





/* responsive for medium devices */
@media only screen and (min-width: 577px) and (max-width: 790px) {

    .container{
        max-width: 90%;
    }

    /* navbar */
    #nav {
        flex-direction: column;
        gap: 10px;
    }

      /* banner */

      #banner-container {
        flex-direction: column;
    }

    /* contact */
    #contact-container {
        flex-direction: column;
        padding: 50px 20px;
        gap: 40px;
        max-width: 640px;
    }

    .contact-item {
        border-bottom: 2px solid gray;
        padding-bottom: 60px;
        border-right: 0px solid white;
        padding-right: 0px;
        width: 60%;
    }

    #card-container {
        flex-direction: column;
        gap: 30px;
    }
}